@use "./colors" as c;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;

	&:link {
		color: c.$text-black;
	}
}

ul {
	list-style-type: none;
}

.text-orange {
	color: c.$text-orange;
}
