* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100dvh;
}
.container header .mobile-header {
  display: block;
  padding: 10px 62px 10px 18px;
}
.container header .mobile-header .title {
  font-size: 15px;
  color: #323232;
  font-weight: 500;
}
.container header .mobile-header .sub-title {
  font-size: 12px;
  color: #f59e0b;
  height: 14px;
  line-height: 14px;
}
.container header .menu {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.container header .menu ul {
  display: flex;
  list-style-type: none;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}
.container header .menu ul li {
  min-width: 20%;
  flex: 1;
  padding: 1rem 0.75rem;
}
.container header .menu ul li:nth-child(1) {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05);
}
.container header .menu ul li:nth-child(2) {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05);
}
.container header .menu ul li:nth-child(3) {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05);
}
.container header .menu ul li:nth-child(4) {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05);
}
.container header .menu ul li a {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
}
.container header .menu ul li a:link {
  color: #323232;
}
.container header .menu ul li a i {
  font-size: 1.1rem;
}
.container header .menu ul li a .link-name {
  font-size: 11px;
}
.container header .menu ul li.active a {
  color: #f59e0b;
}
.container .card#profile-card {
  height: calc(100dvh - 126px);
  text-align: center;
  position: relative;
}
.container .card#profile-card .profile-image {
  background-image: url("https://placehold.co/960x640");
  background-color: rgba(120, 204, 109, 0.1);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 55%;
  overflow: hidden;
  position: relative;
}
.container .card#profile-card .profile-image:before, .container .card#profile-card .profile-image:after {
  content: "";
  position: absolute;
  bottom: -63%;
  width: 100%;
  background: #fff;
  height: 70%;
  overflow: hidden;
}
.container .card#profile-card .profile-image:before {
  left: -25%;
  -webkit-transform: rotate(12deg);
}
.container .card#profile-card .profile-image:after {
  left: auto;
  right: -25%;
  -webkit-transform: rotate(-8deg);
}
.container .card#profile-card .title {
  font-size: 2.15rem;
  margin-top: 10px;
}
.container .card#profile-card .sub-title {
  font-size: 1rem;
  color: #f59e0b;
  height: 1rem;
  line-height: 1rem;
}