@use "reset";
@use "colors" as *; // doing it this way removes the namespace, so I can load variables without it

@mixin blob {
	content: "";
	position: absolute;
	left: -0.85rem;
	top: -0.2rem;
	width: 4rem;
	height: 2.6rem;
	background: linear-gradient(
		135deg,
		rgba(245, 158, 11, 0.15) 0%,
		rgba(245, 158, 11, 0.01) 100%
	);
	border-radius: 2.75rem;
}

@mixin title-border {
	display: inline-block;
	border: 1px solid orange;
	padding: 0 0.25rem;
	margin-bottom: 0.75rem;
	color: orange;
	font-size: 0.75rem;
	border-radius: 4px;
}

body {
	// This background color is a fallback in case an older browser doesn't support linear-gradient in the background-gradient class below
	background-color: $orange;
}

.background-gradient {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: linear-gradient(
		to bottom right,
		#ff8800 0%,
		#ffd280 100%
	) !important;

	/* animated squares in BG */
	ul {
		&.bg-squares {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			li {
				position: absolute;
				list-style-type: none;
				display: block;
				width: 70px;
				height: 70px;
				background-color: rgba(255, 255, 255, 0.1);
				bottom: -320px;
				animation: square 60s infinite;
				transition-timing-function: linear;
				border-radius: 5px;

				&:nth-child(1) {
					left: 10%;
				}

				&:nth-child(2) {
					left: 20%;
					width: 140px;
					height: 140px;
					animation-delay: 2s;
					animation-duration: 40s;
				}

				&:nth-child(3) {
					left: 25%;
					animation-delay: 4s;
				}

				&:nth-child(4) {
					left: 40%;
					width: 130px;
					height: 130px;
					animation-duration: 48s;
				}

				&:nth-child(5) {
					left: 70%;
				}

				&:nth-child(6) {
					left: 80%;
					width: 220px;
					height: 220px;
					animation-delay: 3s;
				}

				&:nth-child(7) {
					left: 35%;
					height: 340px;
					width: 340px;
					animation-delay: 8s;
				}

				&:nth-child(8) {
					left: 55%;
					width: 50px;
					height: 50px;
					animation-delay: 12s;
					animation-duration: 85s;
				}

				&:nth-child(9) {
					left: 25%;
					width: 20px;
					height: 20px;
					animation-delay: 2s;
					animation-duration: 80s;
				}

				&:nth-child(10) {
					left: 90%;
					width: 300px;
					height: 300px;
					animation-delay: 20s;
				}
			}
		}
	}
}

.container {
	// height: 100dvh;
	padding-top: 126px;
	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 126px;
		z-index: 100;
		.mobile-header {
			padding: 10px 18px 10px 18px;
			background-color: $white;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.title {
				font-size: 15px;
				color: $black;
				font-weight: 500;
			}
			.sub-title {
				font-size: 12px;
				color: $orange;
				height: 14px;
				line-height: 14px;
			}

			.mode-button {
				border-radius: 50%;
				background-color: $light-grey;
				padding: 0.25rem;
				height: 43px;
				width: 43px;
				text-align: center;
			}
		}
		.menu {
			box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
			-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
			ul {
				display: flex;
				background-color: $white;
				text-align: center;
				box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);

				li {
					min-width: 20%;
					flex: 1;

					// only include box-shadow for 2nd through 5th nav items
					@for $i from 1 through 4 {
						&:nth-child(#{$i}) {
							box-shadow: 1px 0 2px rgb(0, 0, 0, 0.05);
						}
					}

					a {
						justify-content: center;
						align-items: center;
						flex-direction: column;
						text-transform: uppercase;
						font-size: 0.75rem;
						font-weight: 500;
						padding: 1rem 0.75rem;
						display: block;

						&:link,
						&:visited {
							color: $black;
						}

						i {
							font-size: 1.1rem;
						}

						.link-name {
							font-size: 11px;
						}
					}

					&.active {
						a {
							color: $orange;
						}
					}
				}
			}
		}
	}

	.card {
		background-color: $white;
		&#profile-card {
			height: calc(100dvh - 126px);
			text-align: center;
			position: relative;
			min-height: 560px;
			max-height: 620px;

			.profile-image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				background-image: url("https://placehold.co/960x640");
				background-color: rgba(120, 204, 109, 0.1);
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
				height: 55%;
				overflow: hidden;
				position: relative;

				&:before,
				&:after {
					content: "";
					position: absolute;
					bottom: -63%;
					width: 100%;
					background: $white;
					height: 70%;
					overflow: hidden;
				}

				&:before {
					left: -25%;
					transform: rotate(12deg);
				}

				&:after {
					left: auto;
					right: -25%;
					transform: rotate(-12deg);
				}
			}

			.title {
				font-size: 2.15rem;
				margin-top: 10px;
			}

			.sub-title {
				font-size: 1rem;
				color: $orange;
				height: 1rem;
				line-height: 1rem;
			}

			.socials {
				margin-top: 1rem;
				display: flex;
				align-items: center;
				justify-content: center;
				a {
					font-size: 2rem;
					width: 60px;
					height: 60px;
					display: flex;
					align-items: center;
					justify-content: center;

					&:nth-child(2) {
						margin-left: 5px;
					}

					i {
						color: $black;
					}
				}
			}

			.profile-links {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 70px;
				box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
				display: flex;
				align-items: center;

				a {
					display: block;
					flex: 1;
				}
			}
		}

		&#about-card,
		&#resume-card,
		&#projects-card,
		&#blog-card,
		&#contact-card {
			padding: 1.85rem;
			// margin-bottom: 20px;
			margin-top: 15px;
			scroll-margin-top: 126px;
			h2 {
				position: relative;
				padding-bottom: 30px;
				&.content-title {
					font-size: 1.25rem;
					&:before {
						@include blob;
					}
					&:after {
						content: "";
						position: absolute;
						left: -20px;
						right: -20px;
						bottom: 0;
						height: 1px;
						background-color: #eee;
					}
				}
			}
			.content-about-about {
				margin-bottom: 3rem;
				p {
					line-height: 1.75em;
					margin-bottom: 1rem;
					&:last-child {
						margin-bottom: 3rem;
					}
				}
				.about-left {
					.greeting {
						color: $medium-grey;
						font-weight: 600;
						margin-bottom: 1rem;
						margin-top: 0.5rem;
					}
				}

				.about-right {
					.about-details {
						display: flex;
						justify-content: space-between;
						font-size: 0.9rem;

						&:nth-child(2) {
							margin: 1.5rem 0;
						}

						.bg-highlighted {
							padding: 0 0.5rem;
							background-color: $orange;
							color: $white;
							font-weight: 400;
							border-radius: 2px;
						}
					}
				}
			}
			.content-about-facts {
				margin-top: 10px;
				ul {
					display: grid;
					grid-template-columns: 1fr 1fr;

					li {
						padding: 0.5rem;
						text-align: center;

						i {
							font-size: 2rem;
							color: $orange;
							padding: 1rem;
							height: 4rem;
							width: 4rem;
						}

						h3 {
							font-size: 1rem;
						}

						p {
							&.small-text {
								font-size: 12px;
								color: $orange;
							}
						}
					}
				}
			}
		}

		&#resume-card {
			margin-top: 15px;
			.content-subtitle {
				display: flex;
				align-items: center;
				i {
					color: $orange;
					font-size: 1.85rem;
				}

				h3 {
					margin-left: 0.5rem;
					font-size: 17px;
				}
			}
			.resume-items {
				.resume-item {
					padding: 30px 0;
					.resume-date {
						@include title-border;

						&.inactive {
							color: $lighter-grey;
							border: 1px solid rgb(238, 238, 238);
						}
					}
					.company-details-container {
						display: flex;
						justify-content: space-between;
						.company-details {
							.resume-job-title {
								font-weight: 500;
								font-size: 1.1rem;
							}
							.resume-company {
								font-size: 0.85rem;
								font-weight: 400;
								color: $medium-grey;
								margin-bottom: 0.75rem;
								position: relative;
							}
							.company-logo {
								position: absolute;
								top: 0;
								right: 0;
							}
						}
					}
					p {
						line-height: 1.75rem;
					}
				}
			}
			.resume-left {
				.content-resume-experience {
					.content-title {
						padding-bottom: 1.85rem;
					}
					.content-subtitle {
						margin-top: 1rem;
					}
				}
			}
			.resume-skills {
				margin-top: 15px;
				.content-resume-skills {
					ul {
						li {
							text-align: center;
							padding: 30px;
							i {
								background-color: $orange;
								padding: 0.9rem;
								border-radius: 50%;
								font-size: 2rem;
								color: $white;
							}
							h3 {
								font-weight: 500;
								font-size: 1.1rem;
								color: $black;
								padding: 0.5rem 0 0.25rem;
							}
							p {
								line-height: 1.75em;
							}
						}
					}
				}
			}
		}

		&#projects-card {
			.filter-menu {
				display: flex;
				li {
					a {
						padding: 0.5rem;
						display: block;
						color: inherit;
						&.active {
							color: $orange;
						}
					}
				}
			}
			.projects {
				.project-container {
					margin-top: 1.85rem;
					max-height: 330px;
					transition: all 0.25s ease-in-out;
					opacity: 1;

					&.show-project {
						animation: show-project 0.25s ease-in-out forwards;
					}

					&.hide-project {
						animation: hide-project 0.25s ease-in-out forwards;
					}

					a {
						img {
							width: 100%;
							height: auto;
							transform: scale(1);
							max-width: 100%;
						}
					}
					h3,
					p {
						text-align: center;
					}

					h3 {
						color: $dark-grey;
						font-size: 1.1rem;
						font-weight: 600;
						transition: all 0.3s ease-in-out;
					}

					p {
						color: $medium-light-grey;
					}
				}
			}
		}

		&#blog-card {
			ul {
				display: flex;
				li {
					text-align: center;
					a {
						img {
							width: 100%;
							height: auto;
							transform: scale(1);
							max-width: 100%;
						}
					}

					.blog-date {
						@include title-border;
						margin-top: 0.75rem;
					}

					h3 {
						color: $dark-grey;
						font-size: 1.1rem;
						font-weight: 600;
						transition: all 0.3s ease-in-out;
					}

					p {
						color: $black;
						margin-top: 0.5rem;

						span {
							a {
								color: $orange;
							}
						}
					}
				}
			}
			.blog-container {
				margin-top: 1.85rem;
				ul {
					display: flex;
					li {
						a {
							img {
								width: 100%;
								height: auto;
								transform: scale(1);
								max-width: 100%;
							}
						}
						h3,
						p {
							text-align: center;
						}

						h3 {
							color: $dark-grey;
							font-size: 1.1rem;
							font-weight: 600;
							transition: all 0.3s ease-in-out;
						}

						p {
							color: $medium-light-grey;
						}
					}
				}
			}
		}

		&#contact-card {
			padding-bottom: 40px;
			.contact-details {
				display: flex;
				flex-direction: column;
				margin-top: 0.75rem;
				.detail {
					display: flex;
					justify-content: space-between;
					.contact-title {
						@include title-border;
						color: $white;
						background-color: $orange;
					}
				}
			}
			.contact-form-container {
				margin-top: 30px;
				form {
					&.contact-form {
						display: flex;
						flex-direction: column;
					}

					input {
						width: 100%;
						padding: 0 1rem;
						display: block;
						height: 50px;
						color: $dark-grey;
						outline: 0;
						border: 2px solid #eee;
						margin-bottom: 30px;
						&[type="textarea"] {
							height: 100px;
							padding: 1rem;
						}
					}

					button {
						width: 100%;
						padding: 1.5rem 2rem;
						background: $light-grey;
						border-radius: 5px;
						border: none;
						text-align: center;
						font-size: 0.85rem;
						color: $dark-grey;
						font-weight: 600;
						cursor: pointer;
					}
				}
			}
		}
	}

	#project-modal {
		display: none;
		position: fixed;
		inset: 0;
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.25);
		z-index: 9999;
		transition: opacity 0.25s ease-in-out;

		&.show-project-modal {
			opacity: 1;
		}

		#project-modal-details {
			background-color: $white;
			height: 100%;

			#close-modal {
				position: absolute;
				top: 0;
				right: 0;
				height: 64px;
				width: 64px;
				display: flex;
				justify-content: center;
				align-items: center;

				i {
					color: $dark-grey;
				}
			}

			#project-modal-contents {
				height: 100%;
				text-align: center;
				display: flex;
				flex-direction: column;

				#project-container {
					ul {
						text-align: left;
						list-style-type: disc;
						list-style-position: inside;
						margin: 0 1rem;
					}
				}

				h2 {
					margin-bottom: 0.4rem;
					font-size: 1.5rem;
					color: $dark-grey;
					font-weight: 600;
					position: relative;
				}

				h3 {
					color: $medium-light-grey;
					font-size: 0.9rem;
					padding-bottom: 1rem;
					margin: 0 1rem;
				}

				p {
					color: $medium-grey;
					margin-top: 1rem;
				}

				.project-subtitle {
					padding: 1rem 0;
					font-size: 1.25rem;
					display: flex;
					align-items: center;
					border-bottom: 1px solid #eee;
					border-top: 1px solid #eee;
					margin-left: 1rem;

					i {
						color: $orange;
						font-size: 1.85rem;
					}

					h3 {
						font-size: 17px;
						padding-bottom: 0;
					}
				}

				.project-tech-used {
					.project-list {
						list-style-type: disc;
						list-style-position: inside;
						margin: 1rem 1rem 0;

						li {
							text-align: left;
						}
					}
				}

				i {
					margin-right: 0.5rem;
				}
			}
		}

		img {
			display: block;
		}
	}
}

body {
	&.thank-you {
		background-color: $white;
		h1 {
			border: 1px solid $orange;
			font-size: 1.25rem;
			font-weight: 400;
			margin: 1rem;
			padding: 1rem;
		}

		.center-link {
			margin-top: 2rem;
			text-align: center;
			a {
				background-color: $orange;
				color: $white;
				padding: 1rem;
				cursor: pointer;
			}
		}
	}
}

@keyframes hide-project {
	0% {
		// transform: scale(1);
		max-height: 330px;
		visibility: visible;
		opacity: 1;
	}
	100% {
		// transform: scale(0);
		max-height: 0;
		// display: none;
		visibility: hidden;
		opacity: 0;
	}
}

@keyframes show-project {
	0% {
		max-height: 0;
		// display: block;
		visibility: hidden;
		opacity: 0;
	}
	100% {
		max-height: 330px;
		visibility: visible;
		opacity: 1;
	}
}

@keyframes square {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-1500px) rotate(800deg);
	}
}

/* ************************************************************************ */
/*                             Media Queries                                */
/* ************************************************************************ */
@media screen and (min-width: 680px) {
	.container {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
		padding: 0 15px 0 100px;
		position: relative;
		top: 20px;
		left: 0;
		header {
			position: fixed;
			left: auto;
			top: 20px;
			margin-left: -85px;
			width: 72px;
			right: auto;
			z-index: 0;

			.mobile-header {
				display: none;
			}

			.menu {
				ul {
					flex-direction: column;
				}
			}
		}
	}
}
