* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:link {
  color: #323232;
}

ul {
  list-style-type: none;
}

.text-orange {
  color: #f59e0b;
}

body {
  background-color: #f59e0b;
}

.background-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to bottom right, #ff8800 0%, #dfaf56 100%) !important;
  /* animated squares in BG */
}
.background-gradient ul.bg-squares {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.background-gradient ul.bg-squares li {
  position: absolute;
  list-style-type: none;
  display: block;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.1);
  bottom: -320px;
  animation: square 60s infinite;
  transition-timing-function: linear;
  border-radius: 5px;
}
.background-gradient ul.bg-squares li:nth-child(1) {
  left: 10%;
  top: 10%;
}
.background-gradient ul.bg-squares li:nth-child(2) {
  left: 20%;
  width: 140px;
  height: 140px;
  animation-delay: 2s;
  animation-duration: 40s;
}
.background-gradient ul.bg-squares li:nth-child(3) {
  left: 25%;
  animation-delay: 4s;
}
.background-gradient ul.bg-squares li:nth-child(4) {
  left: 40%;
  width: 130px;
  height: 130px;
  animation-duration: 48s;
}
.background-gradient ul.bg-squares li:nth-child(5) {
  left: 70%;
}
.background-gradient ul.bg-squares li:nth-child(6) {
  left: 80%;
  width: 220px;
  height: 220px;
  animation-delay: 3s;
}
.background-gradient ul.bg-squares li:nth-child(7) {
  left: 35%;
  top: 100%;
  height: 340px;
  width: 340px;
  animation-delay: 8s;
}
.background-gradient ul.bg-squares li:nth-child(8) {
  left: 55%;
  width: 50px;
  height: 50px;
  animation-delay: 12s;
  animation-duration: 85s;
}
.background-gradient ul.bg-squares li:nth-child(9) {
  left: 25%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 80s;
}
.background-gradient ul.bg-squares li:nth-child(10) {
  left: 90%;
  width: 300px;
  height: 300px;
  animation-delay: 20s;
}

.container {
  padding-top: 126px;
}
.container header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 126px;
  z-index: 100;
}
.container header .mobile-header {
  padding: 10px 18px 10px 18px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container header .mobile-header .title {
  font-size: 15px;
  color: #323232;
  font-weight: 500;
}
.container header .mobile-header .sub-title {
  font-size: 12px;
  color: #f59e0b;
  height: 14px;
  line-height: 14px;
}
.container header .mobile-header .mode-button {
  border-radius: 50%;
  background-color: #eee;
  padding: 0.25rem;
  height: 43px;
  width: 43px;
  text-align: center;
}
.container header .menu {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.container header .menu ul {
  display: flex;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.container header .menu ul li {
  min-width: 20%;
  flex: 1;
}
.container header .menu ul li:nth-child(1) {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05);
}
.container header .menu ul li:nth-child(2) {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05);
}
.container header .menu ul li:nth-child(3) {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05);
}
.container header .menu ul li:nth-child(4) {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05);
}
.container header .menu ul li a {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 1rem 0.75rem;
  display: block;
}
.container header .menu ul li a:link, .container header .menu ul li a:visited {
  color: #323232;
}
.container header .menu ul li a i {
  font-size: 1.1rem;
}
.container header .menu ul li a .link-name {
  font-size: 11px;
}
.container header .menu ul li.active a {
  color: #f59e0b;
}
.container .card {
  background-color: #fff;
  position: relative;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  opacity: 1;
  visibility: visible;
  display: block;
  transition: 2s ease-in-out;
}
.container .card.active {
  display: block;
  opacity: 1;
  visibility: visible;
}
.container .card .card-inner {
  padding: 30px 30px 0;
}
.container .card#profile-card {
  height: calc(100dvh - 126px);
  text-align: center;
  position: relative;
  min-height: 560px;
  max-height: 620px;
  opacity: 1;
}
.container .card#profile-card .profile-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("https://placehold.co/960x640");
  background-color: rgba(120, 204, 109, 0.1);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 55%;
  overflow: hidden;
  position: relative;
}
.container .card#profile-card .profile-image:before, .container .card#profile-card .profile-image:after {
  content: "";
  position: absolute;
  bottom: -63%;
  width: 100%;
  background: #fff;
  height: 70%;
  overflow: hidden;
}
.container .card#profile-card .profile-image:before {
  left: -25%;
  transform: rotate(12deg);
}
.container .card#profile-card .profile-image:after {
  left: auto;
  right: -25%;
  transform: rotate(-12deg);
}
.container .card#profile-card .title {
  font-size: 2.15rem;
  margin-top: 10px;
}
.container .card#profile-card .sub-title {
  font-size: 1rem;
  color: #f59e0b;
  height: 1rem;
  line-height: 1rem;
}
.container .card#profile-card .socials {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .card#profile-card .socials a {
  font-size: 2rem;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .card#profile-card .socials a:nth-child(2) {
  margin-left: 5px;
}
.container .card#profile-card .socials a i {
  color: #323232;
}
.container .card#profile-card .profile-links {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}
.container .card#profile-card .profile-links a {
  display: block;
  flex: 1;
}
.container .card#profile-card .profile-links a:link, .container .card#profile-card .profile-links a:visited {
  color: #323232;
}
.container .card#about-card, .container .card#resume-card, .container .card#projects-card, .container .card#blog-card, .container .card#contact-card {
  margin-top: 15px;
  scroll-margin-top: 126px;
  padding-bottom: 30px;
}
.container .card#about-card .top-line, .container .card#resume-card .top-line, .container .card#projects-card .top-line, .container .card#blog-card .top-line, .container .card#contact-card .top-line {
  padding-top: 1rem;
}
.container .card#about-card h2, .container .card#resume-card h2, .container .card#projects-card h2, .container .card#blog-card h2, .container .card#contact-card h2 {
  position: relative;
  padding-bottom: 30px;
}
.container .card#about-card h2.content-title:not(.no-line), .container .card#resume-card h2.content-title:not(.no-line), .container .card#projects-card h2.content-title:not(.no-line), .container .card#blog-card h2.content-title:not(.no-line), .container .card#contact-card h2.content-title:not(.no-line) {
  font-size: 1.25rem;
}
.container .card#about-card h2.content-title:not(.no-line):before, .container .card#resume-card h2.content-title:not(.no-line):before, .container .card#projects-card h2.content-title:not(.no-line):before, .container .card#blog-card h2.content-title:not(.no-line):before, .container .card#contact-card h2.content-title:not(.no-line):before {
  content: "";
  position: absolute;
  left: -0.85rem;
  top: -0.2rem;
  width: 4rem;
  height: 2.6rem;
  background: linear-gradient(135deg, rgba(245, 158, 11, 0.15) 0%, rgba(245, 158, 11, 0.01) 100%);
  border-radius: 2.75rem;
}
.container .card#about-card h2.content-title:not(.no-line):after, .container .card#resume-card h2.content-title:not(.no-line):after, .container .card#projects-card h2.content-title:not(.no-line):after, .container .card#blog-card h2.content-title:not(.no-line):after, .container .card#contact-card h2.content-title:not(.no-line):after {
  content: "";
  position: absolute;
  left: -20px;
  right: -20px;
  bottom: 0;
  height: 1px;
  background-color: #eee;
}
.container .card#about-card .content-about-about, .container .card#resume-card .content-about-about, .container .card#projects-card .content-about-about, .container .card#blog-card .content-about-about, .container .card#contact-card .content-about-about {
  margin-bottom: 3rem;
}
.container .card#about-card .content-about-about p, .container .card#resume-card .content-about-about p, .container .card#projects-card .content-about-about p, .container .card#blog-card .content-about-about p, .container .card#contact-card .content-about-about p {
  line-height: 1.75em;
  margin-bottom: 1rem;
}
.container .card#about-card .content-about-about p:last-child, .container .card#resume-card .content-about-about p:last-child, .container .card#projects-card .content-about-about p:last-child, .container .card#blog-card .content-about-about p:last-child, .container .card#contact-card .content-about-about p:last-child {
  margin-bottom: 3rem;
}
.container .card#about-card .content-about-about .about-left .greeting, .container .card#resume-card .content-about-about .about-left .greeting, .container .card#projects-card .content-about-about .about-left .greeting, .container .card#blog-card .content-about-about .about-left .greeting, .container .card#contact-card .content-about-about .about-left .greeting {
  color: #646464;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.container .card#about-card .content-about-about .about-right .about-details, .container .card#resume-card .content-about-about .about-right .about-details, .container .card#projects-card .content-about-about .about-right .about-details, .container .card#blog-card .content-about-about .about-right .about-details, .container .card#contact-card .content-about-about .about-right .about-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.container .card#about-card .content-about-about .about-right .about-details:nth-child(2), .container .card#resume-card .content-about-about .about-right .about-details:nth-child(2), .container .card#projects-card .content-about-about .about-right .about-details:nth-child(2), .container .card#blog-card .content-about-about .about-right .about-details:nth-child(2), .container .card#contact-card .content-about-about .about-right .about-details:nth-child(2) {
  margin: 1.5rem 0;
}
.container .card#about-card .content-about-about .about-right .about-details .bg-highlighted, .container .card#resume-card .content-about-about .about-right .about-details .bg-highlighted, .container .card#projects-card .content-about-about .about-right .about-details .bg-highlighted, .container .card#blog-card .content-about-about .about-right .about-details .bg-highlighted, .container .card#contact-card .content-about-about .about-right .about-details .bg-highlighted {
  padding: 0 0.5rem;
  background-color: #f59e0b;
  color: #fff;
  font-weight: 400;
  border-radius: 2px;
}
.container .card#about-card .content-about-facts, .container .card#resume-card .content-about-facts, .container .card#projects-card .content-about-facts, .container .card#blog-card .content-about-facts, .container .card#contact-card .content-about-facts {
  margin-top: 10px;
}
.container .card#about-card .content-about-facts ul, .container .card#resume-card .content-about-facts ul, .container .card#projects-card .content-about-facts ul, .container .card#blog-card .content-about-facts ul, .container .card#contact-card .content-about-facts ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container .card#about-card .content-about-facts ul li, .container .card#resume-card .content-about-facts ul li, .container .card#projects-card .content-about-facts ul li, .container .card#blog-card .content-about-facts ul li, .container .card#contact-card .content-about-facts ul li {
  padding: 0.5rem;
  text-align: center;
}
.container .card#about-card .content-about-facts ul li i, .container .card#resume-card .content-about-facts ul li i, .container .card#projects-card .content-about-facts ul li i, .container .card#blog-card .content-about-facts ul li i, .container .card#contact-card .content-about-facts ul li i {
  font-size: 2rem;
  color: #f59e0b;
  padding: 1rem;
  height: 4rem;
  width: 4rem;
}
.container .card#about-card .content-about-facts ul li h3, .container .card#resume-card .content-about-facts ul li h3, .container .card#projects-card .content-about-facts ul li h3, .container .card#blog-card .content-about-facts ul li h3, .container .card#contact-card .content-about-facts ul li h3 {
  font-size: 1rem;
}
.container .card#about-card .content-about-facts ul li p.small-text, .container .card#resume-card .content-about-facts ul li p.small-text, .container .card#projects-card .content-about-facts ul li p.small-text, .container .card#blog-card .content-about-facts ul li p.small-text, .container .card#contact-card .content-about-facts ul li p.small-text {
  font-size: 12px;
  color: #f59e0b;
}
.container .card#resume-card {
  margin-top: 15px;
}
.container .card#resume-card p {
  color: #646464;
}
.container .card#resume-card .content-subtitle {
  display: flex;
  align-items: center;
}
.container .card#resume-card .content-subtitle i {
  color: #f59e0b;
  font-size: 1.85rem;
}
.container .card#resume-card .content-subtitle h3 {
  margin-left: 0.5rem;
  font-size: 17px;
}
.container .card#resume-card .resume-items .resume-item .resume-date {
  display: inline-block;
  border: 1px solid orange;
  padding: 0 0.25rem;
  margin-bottom: 0.75rem;
  color: orange;
  font-size: 0.75rem;
  border-radius: 4px;
}
.container .card#resume-card .resume-items .resume-item .resume-date.inactive {
  color: #cccccc;
  border: 1px solid rgb(238, 238, 238);
}
.container .card#resume-card .resume-items .resume-item .company-details-container {
  display: flex;
  justify-content: space-between;
}
.container .card#resume-card .resume-items .resume-item .company-details-container .company-details .resume-job-title {
  font-weight: 500;
  font-size: 1.1rem;
}
.container .card#resume-card .resume-items .resume-item .company-details-container .company-details .resume-company {
  font-size: 0.85rem;
  font-weight: 400;
  color: #999999;
  margin-bottom: 0.75rem;
  position: relative;
}
.container .card#resume-card .resume-items .resume-item .company-details-container .company-details .company-logo {
  position: absolute;
  top: 0;
  right: 0;
}
.container .card#resume-card .resume-items .resume-item p {
  line-height: 1.75rem;
}
.container .card#resume-card .resume-left .content-resume-experience .content-title {
  padding-bottom: 1.85rem;
}
.container .card#resume-card .resume-left .content-resume-experience .content-subtitle {
  padding: 30px 0;
}
.container .card#resume-card .resume-right .content-resume-education .content-title {
  padding-bottom: 1.85rem;
}
.container .card#resume-card .resume-right .content-resume-education .content-subtitle {
  padding: 30px 0;
}
.container .card#resume-card .resume-skills {
  margin-top: 15px;
}
.container .card#resume-card .resume-skills .content-resume-skills ul li {
  text-align: center;
  padding: 30px;
}
.container .card#resume-card .resume-skills .content-resume-skills ul li:last-child {
  margin: 0 auto;
}
.container .card#resume-card .resume-skills .content-resume-skills ul li i {
  background-color: #f59e0b;
  padding: 0.9rem;
  border-radius: 50%;
  font-size: 2rem;
  color: #fff;
}
.container .card#resume-card .resume-skills .content-resume-skills ul li h3 {
  font-weight: 500;
  font-size: 1.1rem;
  color: #323232;
  padding: 0.5rem 0 0.25rem;
}
.container .card#resume-card .resume-skills .content-resume-skills ul li p {
  line-height: 1.75em;
}
.container .card#projects-card .project-header .filter-menu {
  display: flex;
}
.container .card#projects-card .project-header .filter-menu li a {
  padding: 0.5rem;
  display: block;
  color: #646464;
  font-size: 0.9rem;
}
.container .card#projects-card .project-header .filter-menu li a.active {
  color: #f59e0b;
}
.container .card#projects-card .projects {
  min-height: 330px;
}
.container .card#projects-card .projects .project-container {
  margin-top: 1.85rem;
  max-height: 330px;
  transition: all 0.25s ease-in-out;
  opacity: 1;
  overflow: hidden;
  margin: 0 auto;
  max-width: 400px;
}
.container .card#projects-card .projects .project-container.show-project {
  animation: show-project 0.25s ease-in-out both;
}
.container .card#projects-card .projects .project-container.hide-project {
  animation: hide-project 0.25s ease-in-out both;
}
.container .card#projects-card .projects .project-container a img {
  width: 100%;
  height: auto;
  transform: scale(1);
  max-width: 100%;
  max-height: 260px;
}
.container .card#projects-card .projects .project-container h3,
.container .card#projects-card .projects .project-container p {
  text-align: center;
}
.container .card#projects-card .projects .project-container h3 {
  color: #323232;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.container .card#projects-card .projects .project-container p {
  color: #999999;
}
.container .card#blog-card ul {
  display: flex;
}
.container .card#blog-card ul li {
  text-align: center;
}
.container .card#blog-card ul li a img {
  width: 100%;
  height: auto;
  transform: scale(1);
  max-width: 100%;
}
.container .card#blog-card ul li .blog-date {
  display: inline-block;
  border: 1px solid orange;
  padding: 0 0.25rem;
  margin-bottom: 0.75rem;
  color: orange;
  font-size: 0.75rem;
  border-radius: 4px;
  margin-top: 0.75rem;
}
.container .card#blog-card ul li h3 {
  color: #323232;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.container .card#blog-card ul li p {
  color: #323232;
  margin-top: 0.5rem;
}
.container .card#blog-card ul li p span a {
  color: #f59e0b;
}
.container .card#blog-card .blog-container {
  margin-top: 1.85rem;
}
.container .card#blog-card .blog-container ul {
  display: flex;
}
.container .card#blog-card .blog-container ul li a img {
  width: 100%;
  height: auto;
  transform: scale(1);
  max-width: 100%;
}
.container .card#blog-card .blog-container ul li h3,
.container .card#blog-card .blog-container ul li p {
  text-align: center;
}
.container .card#blog-card .blog-container ul li h3 {
  color: #323232;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.container .card#blog-card .blog-container ul li p {
  color: #999999;
}
.container .card#contact-card {
  padding-bottom: 40px;
}
.container .card#contact-card .contact-details {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
}
.container .card#contact-card .contact-details .detail {
  display: flex;
  justify-content: space-between;
}
.container .card#contact-card .contact-details .detail .contact-title {
  display: inline-block;
  border: 1px solid orange;
  padding: 0 0.25rem;
  margin-bottom: 0.75rem;
  color: orange;
  font-size: 0.75rem;
  border-radius: 4px;
  color: #fff;
  background-color: #f59e0b;
}
.container .card#contact-card .contact-form-container {
  margin-top: 30px;
}
.container .card#contact-card .contact-form-container form.contact-form {
  display: flex;
  flex-direction: column;
}
.container .card#contact-card .contact-form-container form input {
  width: 100%;
  padding: 0 1rem;
  display: block;
  height: 50px;
  color: #323232;
  outline: 0;
  border: 2px solid #eee;
  margin-bottom: 30px;
}
.container .card#contact-card .contact-form-container form input[type=textarea] {
  height: 100px;
  padding: 1rem;
}
.container .card#contact-card .contact-form-container form button {
  width: 100%;
  padding: 1.5rem 2rem;
  background: #eee;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 0.85rem;
  color: #323232;
  font-weight: 600;
  cursor: pointer;
}
.container #project-modal {
  display: none;
  position: fixed;
  inset: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 9999;
  transition: opacity 0.25s ease-in-out;
}
.container #project-modal.show-project-modal {
  opacity: 1;
}
.container #project-modal #project-modal-details {
  background-color: #fff;
  height: 100%;
}
.container #project-modal #project-modal-details #close-modal {
  position: absolute;
  top: 0;
  right: 0;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  cursor: pointer;
}
.container #project-modal #project-modal-details #close-modal i {
  color: #323232;
  transition: 0.25s ease;
}
.container #project-modal #project-modal-details #close-modal:hover i {
  color: #f59e0b;
  font-size: 2.25rem;
  transform: rotate(180deg);
}
.container #project-modal #project-modal-details #project-modal-contents {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container #project-modal #project-modal-details #project-modal-contents #project-container ul {
  text-align: left;
  list-style-type: disc;
  list-style-position: inside;
  margin: 0 1rem;
}
.container #project-modal #project-modal-details #project-modal-contents h2 {
  margin-bottom: 0.4rem;
  font-size: 1.5rem;
  color: #323232;
  font-weight: 600;
  position: relative;
}
.container #project-modal #project-modal-details #project-modal-contents h3 {
  color: #999999;
  font-size: 0.9rem;
  padding-bottom: 1rem;
  margin: 0 1rem;
}
.container #project-modal #project-modal-details #project-modal-contents p {
  color: #646464;
  margin-top: 1rem;
}
.container #project-modal #project-modal-details #project-modal-contents .project-subtitle {
  padding: 1rem 0;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin-left: 1rem;
}
.container #project-modal #project-modal-details #project-modal-contents .project-subtitle i {
  color: #f59e0b;
  font-size: 1.85rem;
}
.container #project-modal #project-modal-details #project-modal-contents .project-subtitle h3 {
  font-size: 17px;
  padding-bottom: 0;
}
.container #project-modal #project-modal-details #project-modal-contents .project-tech-used .project-list {
  list-style-type: disc;
  list-style-position: inside;
  margin: 1rem 1rem 0;
}
.container #project-modal #project-modal-details #project-modal-contents .project-tech-used .project-list li {
  text-align: left;
}
.container #project-modal #project-modal-details #project-modal-contents i {
  margin-right: 0.5rem;
}
.container #project-modal img {
  display: block;
}

body.thank-you {
  background-color: #fff;
}
body.thank-you h1 {
  border: 1px solid #f59e0b;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1rem;
  padding: 1rem;
}
body.thank-you .center-link {
  margin-top: 2rem;
  text-align: center;
}
body.thank-you .center-link a {
  background-color: #f59e0b;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
}

.card-fade-out {
  animation: cardFadeOut 10s ease-in-out both;
}

.card-fade-in {
  animation: cardFadeIn 10s ease-in-out both;
}

@keyframes hide-project {
  0% {
    visibility: visible;
    opacity: 1;
    max-height: 330px;
  }
  100% {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
  }
}
@keyframes show-project {
  0% {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
  }
  100% {
    max-height: 330px;
    visibility: visible;
    opacity: 1;
  }
}
@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1500px) rotate(800deg);
  }
}
/* ************************************************************************ */
/*                             Media Queries                                */
/* ************************************************************************ */
@media screen and (min-width: 680px) {
  .container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 0 100px;
    position: relative;
    top: 20px;
    left: 0;
  }
  .container header {
    position: fixed;
    left: auto;
    top: 20px;
    margin-left: -85px;
    width: 72px;
    right: auto;
    z-index: 0;
  }
  .container header .mobile-header {
    display: none;
  }
  .container header .menu ul {
    flex-direction: column;
  }
  .container .card {
    position: relative;
    left: 0;
    height: 100%;
    min-height: auto;
    max-height: none;
    z-index: 11;
    border-radius: 4px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    opacity: 1;
    visibility: visible;
    grid-template-columns: auto;
  }
  .container .card#resume-card .card-inner .experience-education .resume-left .content-resume-experience .content-subtitle {
    margin-top: 0;
  }
  .container .card#resume-card .resume-skills .card-inner .content-resume-skills ul {
    display: flex;
    flex-wrap: wrap;
  }
  .container .card#resume-card .resume-skills .card-inner .content-resume-skills ul li {
    width: 50%;
  }
  .container .card#projects-card {
    right: 0;
  }
  .container .card#projects-card .projects {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 560px;
  }
  .container .card#projects-card .projects .project-container {
    padding: 1rem;
    width: 50%;
    position: absolute;
    left: -500px;
  }
  .container .card#contact-card {
    right: 0;
  }
  .container .card#contact-card .top-line {
    display: flex;
  }
  .container .card#contact-card .top-line input:first-child {
    margin-right: 5px;
  }
  .container .card#contact-card .top-line input:nth-child(2) {
    margin-left: 5px;
  }
  .container #project-modal {
    width: 75%;
    margin: 0 auto;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
  }
  .container #project-modal .card-inner {
    margin: 0 auto;
    width: 75%;
    position: relative;
  }
}
@media screen and (min-width: 1120px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    height: 90vh;
    margin: 5vh 3vw;
    width: 100%;
    max-height: 675px;
    max-width: 1270px;
    top: 0;
  }
  .container header {
    position: absolute;
    top: 15px;
    left: 0;
    margin-left: 0;
  }
  .container .card {
    position: absolute;
    top: 15px;
    left: 580px;
    overflow: auto;
    bottom: 15px;
    width: auto;
    height: auto;
    transform-origin: center left;
    border-radius: 0 4px 4px 0;
    transition: visibility 1s linear, opacity 1s ease, transform 1s ease;
    z-index: 10;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  .container .card.active {
    display: block;
  }
  .container .card.fade-out {
    opacity: 0;
    transform: translate3d(-70%, 0, 0);
  }
  .container .card#profile-card {
    position: relative;
    left: 0;
    height: 100%;
    width: 480px;
    min-height: auto;
    max-height: none;
    z-index: 11;
    border-radius: 4px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    opacity: 1;
    visibility: visible;
    display: block;
  }
  .container .card#projects-card .project-header {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .container .card#projects-card .project-header:after {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    bottom: 0;
    height: 1px;
    background-color: #eee;
  }
  .container .card#resume-card .experience-education {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .container .card#resume-card .experience-education .resume-left {
    padding-right: 30px;
    position: relative;
  }
  .container .card#resume-card .experience-education .resume-left:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: #eee;
  }
  .container .card#resume-card .experience-education .resume-left .content-subtitle {
    padding: 30px 0 0;
  }
  .container .card#resume-card .experience-education .resume-left .resume-items {
    padding: 30px 0;
    position: relative;
  }
  .container .card#resume-card .experience-education .resume-left .resume-items:after {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    bottom: 0;
    height: 1px;
    background-color: #eee;
  }
  .container .card#resume-card .experience-education .resume-right {
    padding-left: 30px;
  }
  .container .card#resume-card .experience-education .resume-right .content-subtitle {
    padding: 30px 0 0;
  }
  .container .card#resume-card .experience-education .resume-right .resume-items {
    padding: 30px 0;
    position: relative;
  }
  .container .card#resume-card .experience-education .resume-right .resume-items:after {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    bottom: 0;
    height: 1px;
    background-color: #eee;
  }
  .container .card#resume-card .company-logo img {
    display: none;
  }
  .container #project-modal {
    margin: 0 auto;
  }
  .container #project-modal .card-inner {
    width: 720px;
  }
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}