@use "reset";
@use "colors" as *; // doing it this way removes the namespace, so I can load variables without it

.container {
	height: 100dvh;

	header {
		.mobile-header {
			display: block;
			padding: 10px 62px 10px 18px;
			.title {
				font-size: 15px;
				color: $text-black;
				font-weight: 500;
			}
			.sub-title {
				font-size: 12px;
				color: $text-orange;
				height: 14px;
				line-height: 14px;
			}
		}
		.menu {
			box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
			-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
			ul {
				display: flex;
				background-color: $text-white;
				text-align: center;
				box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);

				li {
					min-width: 20%;
					flex: 1;
					padding: 1rem 0.75rem;

					// only include box-shadow for 2nd through 5th nav items
					@for $i from 1 through 4 {
						&:nth-child(#{$i}) {
							box-shadow: 1px 0 2px rgb(0, 0, 0, 0.05);
						}
					}

					a {
						justify-content: center;
						align-items: center;
						flex-direction: column;
						text-transform: uppercase;
						font-size: 0.75rem;
						font-weight: 500;

						&:link {
							color: $text-black;
						}

						i {
							font-size: 1.1rem;
						}

						.link-name {
							font-size: 11px;
						}
					}

					&.active {
						a {
							color: $text-orange;
						}
					}
				}
			}
		}
	}

	.card {
		&#profile-card {
			height: calc(100dvh - 126px);
			text-align: center;
			position: relative;
			.profile-image {
				background-image: url("https://placehold.co/960x640");
				background-color: rgba(120, 204, 109, 0.1);
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
				height: 55%;
				overflow: hidden;
				position: relative;

				&:before,
				&:after {
					content: "";
					position: absolute;
					bottom: -63%;
					width: 100%;
					background: $text-white;
					height: 70%;
					overflow: hidden;
				}

				&:before {
					left: -25%;
					-webkit-transform: rotate(12deg);
				}

				&:after {
					left: auto;
					right: -25%;
					-webkit-transform: rotate(-8deg);
				}
			}

			.title {
				font-size: 2.15rem;
				margin-top: 10px;
			}

			.sub-title {
				font-size: 1rem;
				color: $text-orange;
				height: 1rem;
				line-height: 1rem;
			}

			.socials {
				margin-top: 1rem;
				a {
					font-size: 1.25rem;

					&:nth-child(2) {
						margin-left: 5px;
					}

					i {
						color: $text-black;
					}
				}
			}

			.profile-links {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 70px;
				box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
				display: flex;
				align-items: center;

				a {
					display: block;
					flex: 1;
				}
			}
		}
	}
}
