@use "reset";
@use "colors" as *; // doing it this way removes the namespace, so I can load variables without it

@mixin blob {
	content: "";
	position: absolute;
	left: -12px;
	top: -2px;
	width: 60px;
	height: 40px;
	background: linear-gradient(
		135deg,
		rgba(245, 158, 11, 0.15) 0%,
		rgba(245, 158, 11, 0.01) 100%
	);
	border-radius: 30px;
}

body {
	background-color: $text-orange;
}

.container {
	// height: 100dvh;
	padding-top: 126px;
	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 126px;
		z-index: 100;
		.mobile-header {
			display: block;
			padding: 10px 62px 10px 18px;
			background-color: $text-white;
			.title {
				font-size: 15px;
				color: $text-black;
				font-weight: 500;
			}
			.sub-title {
				font-size: 12px;
				color: $text-orange;
				height: 14px;
				line-height: 14px;
			}
		}
		.menu {
			box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
			-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
			ul {
				display: flex;
				background-color: $text-white;
				text-align: center;
				box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);

				li {
					min-width: 20%;
					flex: 1;

					// only include box-shadow for 2nd through 5th nav items
					@for $i from 1 through 4 {
						&:nth-child(#{$i}) {
							box-shadow: 1px 0 2px rgb(0, 0, 0, 0.05);
						}
					}

					a {
						justify-content: center;
						align-items: center;
						flex-direction: column;
						text-transform: uppercase;
						font-size: 0.75rem;
						font-weight: 500;
						padding: 1rem 0.75rem;
						display: block;

						&:link,
						&:visited {
							color: $text-black;
						}

						i {
							font-size: 1.1rem;
						}

						.link-name {
							font-size: 11px;
						}
					}

					&.active {
						a {
							color: $text-orange;
						}
					}
				}
			}
		}
	}

	.card {
		background-color: $text-white;
		&#profile-card {
			height: calc(100dvh - 126px);
			text-align: center;
			position: relative;
			min-height: 560px;
			max-height: 620px;

			.profile-image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				background-image: url("https://placehold.co/960x640");
				background-color: rgba(120, 204, 109, 0.1);
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
				height: 55%;
				overflow: hidden;
				position: relative;

				&:before,
				&:after {
					content: "";
					position: absolute;
					bottom: -63%;
					width: 100%;
					background: $text-white;
					height: 70%;
					overflow: hidden;
				}

				&:before {
					left: -25%;
					transform: rotate(12deg);
				}

				&:after {
					left: auto;
					right: -25%;
					transform: rotate(-12deg);
				}
			}

			.title {
				font-size: 2.15rem;
				margin-top: 10px;
			}

			.sub-title {
				font-size: 1rem;
				color: $text-orange;
				height: 1rem;
				line-height: 1rem;
			}

			.socials {
				margin-top: 1rem;
				display: flex;
				align-items: center;
				justify-content: center;
				a {
					font-size: 2rem;
					width: 60px;
					height: 60px;
					display: flex;
					align-items: center;
					justify-content: center;

					&:nth-child(2) {
						margin-left: 5px;
					}

					i {
						color: $text-black;
					}
				}
			}

			.profile-links {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 70px;
				box-shadow: 0 0px 5px rgba(0, 0, 0, 0.05);
				display: flex;
				align-items: center;

				a {
					display: block;
					flex: 1;
				}
			}
		}

		&#about-card,
		&#resume-card,
		&#projects-card {
			padding: 1.85rem;
			margin-bottom: 20px;
			margin-top: 15px;
			scroll-margin-top: 126px;
			h2 {
				position: relative;
				padding-bottom: 30px;
				&.content-title {
					font-size: 1.25rem;
					&:after {
						@include blob;
					}
				}
			}
			.content-about-about {
				margin-bottom: 3rem;
				p {
					line-height: 1.75em;
					margin-bottom: 1rem;
					&:last-child {
						margin-bottom: 3rem;
					}
				}
				.about-left {
					strong {
						color: $text-medium-grey;
						font-weight: 600;
					}
				}

				.about-right {
					.about-details {
						display: flex;
						justify-content: space-between;
						font-size: 0.9rem;

						&:nth-child(2) {
							margin: 1.5rem 0;
						}

						.bg-highlighted {
							padding: 0 0.5rem;
							background-color: $text-orange;
							color: $text-white;
							font-weight: 400;
							border-radius: 2px;
						}
					}
				}
			}
			.content-about-facts {
				margin-top: 10px;
				ul {
					display: grid;
					grid-template-columns: 1fr 1fr;

					li {
						padding: 0.5rem;
						text-align: center;

						i {
							font-size: 2rem;
							color: $text-orange;
							padding: 1rem;
						}

						h3 {
							font-size: 1rem;
						}

						p {
							&.small-text {
								font-size: 12px;
								color: $text-orange;
							}
						}
					}
				}
			}
		}

		&#resume-card {
			margin-top: 15px;
			.content-subtitle {
				display: flex;
				align-items: center;
				i {
					color: $text-orange;
					font-size: 1.85rem;
				}

				h3 {
					margin-left: 0.5rem;
					font-size: 17px;
				}
			}
			.resume-items {
				.resume-item {
					padding: 30px 0;
					.resume-date {
						display: inline-block;
						border: 1px solid $text-orange;
						padding: 0 0.25rem;
						margin-bottom: 0.75rem;
						color: $text-orange;
						font-size: 0.75rem;
						border-radius: 4px;

						&.inactive {
							color: $text-light-grey;
							border: 1px solid rgb(238, 238, 238);
						}
					}
					.resume-job-title {
						font-weight: 500;
						font-size: 1.1rem;
					}
					.resume-company {
						font-size: 0.85rem;
						font-weight: 400;
						color: $text-medium-grey;
						margin-bottom: 0.75rem;
					}
					p {
						line-height: 1.75rem;
					}
				}
			}
			.resume-left {
				.content-resume-experience {
					.content-title {
						padding-bottom: 1.85rem;
					}
				}
			}
			.resume-skills {
				margin-top: 15px;
				.content-resume-skills {
					ul {
						li {
							text-align: center;
							padding: 30px;
							i {
								background-color: $text-orange;
								padding: 0.9rem;
								border-radius: 50%;
								font-size: 2rem;
								color: $text-white;
							}
							h3 {
								font-weight: 500;
								font-size: 1.1rem;
								color: $text-black;
								padding: 0.5rem 0 0.25rem;
							}
							p {
								line-height: 1.75em;
							}
						}
					}
				}
			}
		}

		&#projects-card {
			.filter-menu {
				display: flex;
				li {
					&.active {
						color: $text-orange;
					}
					a {
						padding: 0.5rem;
						display: block;
						color: inherit;
					}
				}
			}
			.project-container {
				margin-top: 1.85rem;
				ul {
					display: flex;
					li {
						a {
							img {
								width: 100%;
								height: auto;
								transform: scale(1);
								max-width: 100%;
							}
						}
						h3,
						p {
							text-align: center;
						}

						h3 {
							color: $text-dark-grey;
							font-size: 1.1rem;
							font-weight: 600;
							transition: all 0.3s ease-in-out;
						}

						p {
							color: $text-medium-light-grey;
						}
					}
				}
			}
		}
	}
}
